auto-install-peers=false
strict-peer-dependencies=false
network-concurrency=16
fetch-retries=0
fetch-retry-mintimeout=0
fetch-retry-maxtimeout=0
@protobufjs:registry=https://registry.npmjs.org/
websocket-driver:registry=https://registry.npmjs.org/
websocket-extensions:registry=https://registry.npmjs.org/
//registry.npmjs.org/:always-auth=false
